body {
	background-color: #DBE0E5;
}

#latest-ads {
	margin-top: 5%;
}

.ad-box {
	background-color: white; 
	width: 100%;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 1%;
	border: 1px lightgrey solid;
}

.ad-box img {
	width: 100%;
	padding: 1%;
	border-radius: 4px;
}

.sidebar {
	background-color: white; 
	padding: 10%;
	border-radius: 2%;
	border: 1px lightgrey solid;
}
