body {
	background-color: #DBE0E5;
}

.ad-box {
	background-color: white; 
	width: 80%;
	border-radius: 4px;
	padding: 1%;
	margin: 10px 0px;
	border: 1px lightgrey solid;
}

.ad-box img {
	width: 100%;
	padding: 1%;
	border-radius: 4px;
}

.sidebar {
	background-color: white; 
	padding: 5%;
	border-radius: 2%;
	border: 1px lightgrey solid;
}
