{% extends 'base.html' %}

{% block head %}
<!-- {% load static %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}" type="text/css"> -->
<title>Zaneroo - Ad Details</title>
{% endblock %}

{% block body %}

<div class="container"><br>


<section id="latest-ads">

  <div class="row">
      <div class="col-md-6 offset-md-3 ads">
        <div class="ad-box">
          <div class="ad-title">
            <h4>${{ post.price }} - {{ post.title }}</h4>
          </div>
          <div class="ad-image">
            <img src="{{ post.picture.url }}" width="500px" height="400px" class="img-fluid">
          </div>
          <div class="ad-description">
           <p>{{ post.body }}</p>
          </div>
          <div class="ad-pub_date">
           <p>Posted on {{ post.pub_date }} by {{ post.author }} </p>
          </div>
        </div>
      </div>
    </div>
</section>


</div>
{% endblock %}
